source https://api.nuget.org/v3/index.json

storage: none
nuget FSharp.HashCollections 0.3.4
nuget Streams 0.6.0

group Test
source https://www.nuget.org/api/v2

nuget Expecto 10.2.3
nuget Expecto.FsCheck 10.2.3
nuget Microsoft.NET.Test.Sdk
nuget YoloDev.Expecto.TestSdk 0.15.3